<h2 class="registration-title">新規登録画面</h2>

<%= form_with model: @user, url: user_registration_path, method: :post, class: 'registration-main', local: true do |f| %>

  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label for="name", class="form-text">ユーザー名</label>
    </div>
    <%= f.text_field :name, class:"input-form", id:"name", autofocus: true, maxlength:"40" %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label for="email", class="form-text">メールアドレス</label>
    </div>
    <%= f.email_field :email, class:"input-form", id:"email", autofocus: true %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label for="password", class="form-text">パスワード</label>
    </div>
    <%= f.password_field :password, class:"input-form", id:"password" %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label for="password-confirmation", class="form-text">パスワード(確認)</label>
    </div>
    <%= f.password_field :password_confirmation, class:"input-form", id:"password-confirmation" %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label for="birthday", class="form-text">生年月日</label>
    </div>
    <div class='input-birth-wrap'>
      <%= raw sprintf(
                  f.date_select(
                    :birthday,
                    class:'select-birth',
                    id:"birthday",
                    use_month_numbers: true,
                    prompt:'--',
                    start_year: 1930,
                    end_year: (Time.now.year - 5),
                    date_separator: '%s'),
                  "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-text-wrap">
      <label for="age", class="form-text">年齢</label>
    </div>
    <%= f.text_field :age, class:"input-form_age", id:"age"%> 歳
  </div>

  <div class="registration-submit">
    <%= f.submit "登録する" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>


