<%# ヘッダー %>
<%= render "shared/header" %>

<%# ページ全体 %>
<div class="body-main">
  <div class="body-header">
    体重記録カレンダー
  </div>
  <div class="body-graph">
    <%# <canvas id="weight-graph"></canvas> %>
  </div>
  <%= month_calendar events: @bodies do |date, bodies| %>
    <%= date.day %>
    <% bodies.each do |body| %>
      <div class="weight-data">
        <span class="weight-value"><%= body.weight.to_f %> kg</span>
      </div>
    <% end%>
  <% end %>
  <%= link_to "新規記録", new_body_path, class:"body-btn" %>
</div>
<%# フッター %>
<%= render "shared/footer" %>