<%# ヘッダー %>
<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="body-show-main">
  <div class="body-show-wrap">
    <div class="body-show-date">
      <%= @body.start_time %>
    </div>
    <div class="body-img">
      <%# <%= image_tag @body.image ,class:"body-box-img" %>
    </div>
    <table class="body-table">
      <tbody>
        <tr>
          <th class="body-category">体重</th>
          <td class="body-value"><%= @body.weight %> kg</td>
        </tr>
        <tr>
          <th class="body-category">備考</th>
          <td class="body-value"><%= @body.memo %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="body-btn-area">
    <%= link_to "編集", "#", class:"body-show-btn" %>
    <%= link_to "削除", "#", class:"body-show-btn" %>
  </div>
</div>
<%# フッター %>
<%= render "shared/footer" %>
