<div class="header">
  <%# ヘッダーメイン %>
  <div class="header__main">
    <div class="title-logo">
      Body Manager
    </div>
    <div class="user-info">
      <div class="user-name">
        ようこそ、<span class="user-name"><%= current_user.name %></span> さん
      </div>
      <div class="log-out">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </div>
    </div>
  </div>
  <%# ヘッダーサブ %>
  <div class="header__sub">
    <ul class="menu-lists">
      <li class="menu-list">
        <%= link_to "食事記録", root_path %>
      </li>
      <li class="menu-list">
        <%= link_to "体重記録", bodies_path %>
      </li>
      <li class="menu-list">
        <%= link_to "マイレシピ", recipes_path %>
      </li>
    </ul>
  </div>
</div>