<div class="header">
  <div class="header-left">
    <div class="title-logo">
      減量管理アプリ
    </div>
    <ul class="menu-lists">
      <li class="menu">
        <%= link_to "食事記録一覧", root_path %>
      </li>
      <li class="menu">
        <%= link_to "体重記録", "#" %>
      </li>
      <li class="menu">
        <%= link_to "マイメニュー", "#" %>
      </li>
    </ul>
  </div>
  <div class="header-right">
    <div class="login-user">
      <%= current_user.name %>
    </div>
    <div class="logout-btn">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete%>
    </div>
  </div>
</div>