<%= render "shared/header" %>

<div class="record-main">
  <%= month_calendar events: @records do |date, records| %>
    <%= date.day %>
    <% records.each do |data| %>
      <div class="total-calories">
        <%= "#{data.total_calorie} kcal" %>
      </div>
      <div class="total-pfc">
        <%= link_to "詳細を見る", data %>
      </div>
    <% end%>
  <% end %>
</div>