<%# ヘッダー %>
<%= render "shared/header" %>

<%# ページ全体 %>
<div class="record-main">
  <%# 今日の記録 %>
  <div class="todays-record-area">
    <% if @records.exists?(start_time: Date.today)%>
      <div class="todays-record-wrap">
        <div class="record-header">
          今日の食事記録
        </div>
        <div class="todays-record">
          <%# グラフ表示エリア %>
          <div class="todays-record-graph">
            <canvas id="pie-graph"></canvas>
          </div>
          <%# 数値表示エリア %>
          <div class="todays-record-data">
            <%# カロリー表示 %>
            <div class="todays-record-calorie">
              <div class="todays-record-calorie__title">
                カロリー 合計
              </div>
              <div class="todays-record-calorie__value">
                <span class="calorie"><%= @record.total_calorie %></span> kcal
              </div>
            </div>
            <%# 栄養素表示 %>
            <div class="todays-record-nutrients">
              <div class="todays-record-nutrient">
                <div class="todays-record-nutrient__title">
                  タンパク質  
                </div>
                <div class="todays-record-nutrient__value">
                  <span class="nutrient", id="protein"><%= @record.total_protein %></span> g
                </div>
              </div>
              <div class="todays-record-nutrient">
                <div class="todays-record-nutrient__title">
                  脂質
                </div>
                <div class="todays-record-nutrient__value">
                  <span class="nutrient", id="fat"><%= @record.total_fat %></span> g
                </div>
              </div>
              <div class="todays-record-nutrient">
                <div class="todays-record-nutrient__title">
                  炭水化物
                </div>
                <div class="todays-record-nutrient__value">
                  <span class="nutrient", id="carbo"><%= @record.total_carbo %></span> g
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="todays-record-btn">
        <%# 既にある本日のデータへの追加・編集ボタン %>
        <%= link_to "追加・編集", record_path(@record), class: "record-btn" %>
      </div>
    <% else %>
      <div class="record-header">
        今日の食事記録
      </div>
      <div class="no-data">
        No Data
      </div>
      <%# 新規記録ボタン %>
      <%= link_to "記録作成", new_record_path, class: "record-btn" %>
    <% end %>
  </div>
  <%# カレンダー %>
  <div class="record-header">
    食事記録カレンダー
  </div>
  <div class="calendar">
    <%= month_calendar events: @records do |date, records| %>
      <%= date.day %>
      <% records.each do |data| %>
        <div class="total-calories">
          <span class="total-calories-value"><%= data.total_calorie %> kcal</span>
        </div>
        <div class="total-pfc">
          <%= link_to "詳細データ", data %>
        </div>
      <% end%>
    <% end %>
  </div>
  <%# 新規記録ボタン %>
  <%= link_to "記録作成", new_record_path, class: "record-btn" %>
</div>

<%# フッター %>
<%= render "shared/footer" %>