<%= render "shared/header" %>

<div class="record-main">
  <%= month_calendar events: @records do |date, records| %>
    <%= date.day %>
    <% records.each do |data| %>
      <div class="total-calories">
        <%= link_to data.total_calorie, data %>
      </div>
      <div class="total-pfc">
        P <%= link_to data.total_protein, "#" %>
        F <%= link_to data.total_fat, "#" %>
        C <%= link_to data.total_carbo, "#" %>
      </div>
    <% end%>
  <% end %>
</div>