<%= render "shared/header" %>

<%# 新規投稿ページ全体 %>
<div class="record-new-main">
  <%# 投稿フォーム %>
  <div class="record-form-wrap">
    <div class="record-form">
      <%= form_with model: @record, local: true do |f| %>
        <div class="select-date-area">
          <div class="select-date-text">
            記録する日付を選択してください
          </div>
          <%# 日付セレクト %>
          <div class="select-date">
            <%= f.date_select :start_time, class: "select-date-item"%>
          </div>
        </div>
        <%# 送信ボタン %>
        <%= f.submit "作成" ,class: "record-form-btn" %>
        <%= link_to "戻る", root_path, class: "record-form-back" %>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>


