<%# ヘッダー %>
<%= render "shared/header" %>

<%# ページ全体 %>
<div class="record-show-main">
  <%# グラフ表示エリア %>
  <div class="graph-area">
    <%# 円グラフ %>
    <div class="pie-graph-inner">
      <canvas id="pie-graph"></canvas>
    </div>
    <%# 数値 %>
    <div class="total-data-inner">
      <div class="total-data">Total カロリー<Br>
        <%= @record.total_calorie %>
      </div>
      <div class="total-data">Total タンパク質<br>
        <span id="protein"><%= @record.total_protein %></span>
      </div>
      <div class="total-data">Total 脂質<br>
        <span id="fat"><%= @record.total_fat %><span>
      </div>
      <div class="total-data">Total 炭水化物<br>
        <span id="carbo"><%= @record.total_carbo %></span>
      </div>
    </div>
  </div>
  <%# 記録表示エリア %>
  <div class="meals-area">
    <%# 記録の日付 %>
    <div class="meal-date-inner">
      <div class="meal-date">
        <%= @record.start_time %>
      </div>
      <%= link_to "追加", new_record_meal_path(@record.id), class: "add-meal-btn"%>
    </div>
    <%# 記録カテゴリ一覧 %>
    <div class="meals-categories">
      <div class="meals-category">
        起床時
      </div>
      <ul class="meal-lists">
        <% @meals.each do |meal| %>
          <% if meal.category.id == 2 %>
            <li class="meal-list">
              <%= meal.food %><br>
              <%= "#{meal.volume} g" %><br><br>
              <%= link_to "編集", "#" %>
              <%= link_to "削除", record_meal_path(meal), method: :delete %>
            </li>
          <% end %>
        <% end %>
      </ul>
      <div class="meals-category">
        朝食
      </div>
      <ul class="meal-lists">
        <% @meals.each do |meal| %>
          <% if meal.category.id == 3 %>
            <li class="meal-list">
              <%= meal.food %><br>
              <%= "#{meal.volume} g" %><br><br>
              <%= link_to "編集", "#" %>
              <%= link_to "削除", record_meal_path(meal), method: :delete %>
            </li>
          <% end %>
        <% end %>
      </ul>
      <div class="meals-category">
        昼食
      </div>
      <ul class="meal-lists">
        <% @meals.each do |meal| %>
          <% if meal.category.id == 4 %>
            <li class="meal-list">
              <%= meal.food %><br>
              <%= "#{meal.volume} g" %><br><br>
              <%= link_to "編集", "#" %>
              <%= link_to "削除", record_meal_path(meal), method: :delete %>
            </li>
          <% end %>
        <% end %>
      </ul>
      <div class="meals-category">
        夕食
      </div>
      <ul class="meal-lists">
        <% @meals.each do |meal| %>
          <% if meal.category.id == 5 %>
            <li class="meal-list">
              <%= meal.food %><br>
              <%= "#{meal.volume} g" %><br><br>
              <%= link_to "編集", "#" %>
              <%= link_to "削除", record_meal_path(meal), method: :delete %>
            </li>
          <% end %>
        <% end %>
      </ul>
      <div class="meals-category">
        夜食
      </div>
      <ul class="meal-lists">
        <% @meals.each do |meal| %>
          <% if meal.category.id == 6 %>
            <li class="meal-list">
              <%= meal.food %><br>
              <%= "#{meal.volume} g" %><br><br>
              <%= link_to "編集", "#" %>
              <%= link_to "削除", record_meal_path(meal), method: :delete %>
            </li>
          <% end %>
        <% end %>
      </ul>
      <div class="meals-category">
        就寝前
      </div>
      <ul class="meal-lists">
        <% @meals.each do |meal| %>
          <% if meal.category.id == 7 %>
            <li class="meal-list">
              <%= meal.food %><br>
              <%= "#{meal.volume} g" %><br><br>
              <%= link_to "編集", "#" %>
              <%= link_to "削除", record_meal_path(meal), method: :delete %>
            </li>
          <% end %>
        <% end %>
      </ul>
      <div class="meals-category">
        間食
      </div>
      <ul class="meal-lists">
        <% @meals.each do |meal| %>
          <% if meal.category.id == 8 %>
            <li class="meal-list">
              <%= meal.food %><br>
              <%= "#{meal.volume} g" %><br><br>
              <%= link_to "編集", "#" %>
              <%= link_to "削除", record_meal_path(meal), method: :delete %>
            </li>
          <% end %>
        <% end %>
      </ul>
      <div class="meals-category">
        その他
      </div>
      <ul class="meal-lists">
        <% @meals.each do |meal| %>
          <% if meal.category.id == 9 %>
            <li class="meal-list">
              <%= meal.food %><br>
              <%= "#{meal.volume} g" %><br><br>
              <%= link_to "編集", "#" %>
              <%= link_to "削除", record_meal_path(meal), method: :delete %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<%= render "shared/footer" %>