<%= render "shared/header" %>

<div class="meal-new-main">
  <div class="meal-form-wrap">
    <div class="record-date">
      <%= @record.start_time %>
    </div>
    <%= form_with model: [@record, @meal], local: true do |f| %>
      <%# <%= render 'shared/error_messages', model: f.object %>

      <div class="meal-form-contents">
        <div class="meal-form-content category">
          <div class="meal-form__title">
            分類
          </div>
          <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"category-select"}) %>
        </div>
        <div class="meal-form-content">
          <div class="meal-form__title">
            食品名
          </div>
          <%= f.text_field :food, class:"input-food" %>
        </div>
        <br>
        <div class="meal-form-content">
          <div class="meal-form__title">
            摂取量（g）
          </div>
          <%= f.text_field :volume, class:"input-nutrient" %>
        </div>
        <div class="meal-form-content">
          <div class="meal-form__title">
            カロリー（kcal）
          </div>
          <%= f.text_field :calorie, class:"input-nutrient" %>
        </div>
        <div class="meal-form-content">
          <div class="meal-form__title">
            タンパク質（g）
          </div>
          <%= f.text_field :protein, class:"input-nutrient" %>
        </div>
        <div class="meal-form-content">
          <div class="meal-form__title">
            脂質（g）
          </div>
          <%= f.text_field :fat, class:"input-nutrient" %>
        </div>
        <div class="meal-form-content">
          <div class="meal-form__title">
            炭水化物（g）
          </div>
          <%= f.text_field :carbo, class:"input-nutrient" %>
        </div>
      </div>
      <div class="meal-form-submit">
        <%= f.submit "保存" ,class:"meal-form-btn" %>
      </div>
      <%= link_to "戻る", record_path(@record), class:"record-form-back" %>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>