<%= render "shared/header_meal" %>

<div class="meal-form-wrap">
  <div class="meal-title">
    今日の日付
  </div>
  <%= form_with model: @meal, url: record_meals_path(@record),local: true do |f| %>
  
    <%= render 'shared/error_messages', model: f.object %>
  
    <div class="meal-form">
      <div class="meal-form__title">
        分類
      </div>
      <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:""}) %>
    </div>
    <div class="meal-form">
      <div class="meal-form__title">
        摂取時間
      </div>
      <%= f.collection_select(:eat_time_id, EatTime.all, :id, :name, {}, {class:"select-box", id:""}) %>
    </div>
    <div class="meal-form">
      <div class="meal-form__title">
        食品名
      </div>
      <%= f.text_field :food, class:"text-box", id:"" %>
    </div>
    <div class="meal-form">
      <div class="meal-form__title">
        摂取量
      </div>
      <%= f.text_field :volume, class:"text-box", id:"" %><span class="gram">g</span>
    </div>
    <div class="meal-form">
      <div class="meal-form__title">
        カロリー
      </div>
      <%= f.text_field :calorie, class:"text-box", id:"" %><span class="gram">g</span>
    </div>
    <div class="meal-form">
      <div class="meal-form__title">
        タンパク質
      </div>
      <%= f.text_field :protein, class:"text-box", id:"" %><span class="gram">g</span>
    </div>
    <div class="meal-form">
      <div class="meal-form__title">
        脂質
      </div>
      <%= f.text_field :fat, class:"text-box", id:"" %><span class="gram">g</span>
    </div>
    <div class="meal-form">
      <div class="meal-form__title">
        炭水化物
      </div>
      <%= f.text_field :carbo, class:"text-box", id:"" %><span class="gram">g</span>
    </div>
    <%= f.submit "保存" ,class:"meal-form-submit" %>
  <% end %>
</div>